_site/

.github/vale/styles/*
!.github/vale/styles/config/
!.github/vale/styles/config/ignore/
!.github/vale/styles/config/vocabularies/

.quarto/

.DS_Store

/.quarto/

**/*.quarto_ipynb

_freeze/
site_libs/
